@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap');

*{padding:0;margin:0;border:0;}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}
p{
    font-size: 16px;
    
    line-height: 28px;
}
.short-line {
    height: 3px;
    background-color: #FF2D2D; 
    /* border: 2px solid #FF2D2D; */
    max-width: 134px;
}
.container {
    max-width: 1249px;
    margin: 0 auto;
}
.menu {
    padding-top: 20px;  
    background-color: #F6F2F2;
}
.menu-items {
    background-color: #000000;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.item {
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    color: white;
    padding: 42px 40px 24px;
    line-height: 24px;
    font-weight: 700;
}
.item:hover  {
    background-color: #ff3f40;
}

/* section intro */
.intro {
    padding: 85px 0 110px 0;
    background-color: #F6F2F2;
}
.container-intro {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.intro-info h1 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 72px;
    letter-spacing: 1.5px;
}
.intro-info p {
    max-width: 544px;
    margin: 21px 0 57px 0;
}
.intro-btn {
    display: inline-block;
    width: 227px;
    height: 55px;
    background-color: #FF2D2D;
    border-radius: 5px;
}
.intro-btn a {
    display: block;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
}
.intro-image {
    margin-top: 17px;
    display: flex;
    flex: 0 0 554px;
}
.intro-image img {
    max-width: 100%;
}
/*  section provide */
.provide {
    padding-top: 108px;
}
.container-provide {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}
.provide-header {
    flex: 1 1 539px;
    max-width: 539px;
    margin-right: 50px;
    
}
.provide-header h2{
    font-size: 42px;
    line-height: 55px;
    text-transform: uppercase;
}
.provide-header p{
    padding-top: 40px;

}
.learn {
    border: 2px solid #FF2D2D;
    width: 227px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 46px;

}
.learn-button {
    /* display: block; */
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #FF2D2D;
}
.services {
    max-width: 50%;
    /* flex: 0 1 50%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 33px;
    
}
.service {
    flex: 1 1 290px;
    max-width: 290px;
    margin-bottom: 53px;
    padding: 0 8px;
}
.service h3{
    margin-top: 30px;
}
.provide-line {
    height: 3px;
    background-color: #ECECEC; 
    max-width: 1251px;
    margin: 0 auto;
 }
/* section feature */

.container-feature {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-title h2{
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0.38px;
    text-align: center;

}
.feature-title p{
    max-width: 536px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.feature-title hr {
    margin: 0 auto;
}

.feature-links {
    margin-top: 86px;
    margin-bottom: 58px;
}
.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 35px;
    margin: 0 auto;
}
.links a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 17px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;

}
.links a:hover {
    color: #FF2D2D;
}
.blue-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blue-box {
    flex: 0 1 301px;
    max-width: 301px;
    height: 293px;
    margin-bottom: 16px;
}
/* MEET OUR TEAM */

.team-title {
    max-width: 428px;
    margin-top: 103px;
    margin-bottom: 67px;    
}
.team-title h2 {
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 13px;
}
.team-title p {
    margin-bottom: 35px;
}
.team-container-members {
    display: flex;
}
.team-selected-member {
    margin-right: 78px;
}
.team-member-info h3{
    padding-top: 10px;
    padding-bottom: 11px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
}
.team-member-info p{
    max-width: 660px;

}
.team-members{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.team-member {
    max-width: 190px;
margin-right: 18px;
margin-bottom: 18px;
}
.team-links {
    margin-top: 43px;
    margin-bottom: 60px;
}
.team-links a{
    padding-right: 36px;
    font-size: 18px;
    line-height: 24px;
    font-style: italic;
    text-decoration: none;
}
/* subscrube */
.subscribe {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;

    /* max-width: 1579px; */
    background-color: #000;
    color: #fff;
}
.subscribe-content {
    margin: 0 auto;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    padding-top: 124px;
    padding-bottom: 140px;
    text-align: center;
}
.subscribe-header {
    margin: 0;
    /* margin-top: 150px; */
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 1.05px;
    line-height: 55px;
}
.subscribe-text {
    margin-bottom: 57px;
    margin-top: 16px;
    font-size: 16px;
}
/* .subscribe-form {

} */
.subscribe-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.subscribe-input {
    width: 450px;
    height: 80px;
    border: none;
    padding: 0;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 35px;
    padding-right: 35px;
    margin-right: 0px; 
    text-align: left;

}
.subscribe-btn {
    font-weight: bold;
    font-size: 17.9px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 19px;
    padding: 0;
    width: 217px;
    height: 82px;
    background-color: #FF2D2D;
}
/*  */
.container-message{
    margin:0 auto;
   max-width: 1579px;

}
.message {
    /* margin-left: 161px; */
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.message-intro{
    padding-left: 164px;
}
.message-intro>h2 {
    padding-top: 55px;
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-bottom: 13px;
    letter-spacing: 0.38px;
}
.message-intro>p {
    max-width: 752px;
    font-size: 16px;
    line-height: 28px;
}
.message-line{
    width: 134px;
    border: rgb(245, 6, 6) 1px solid;
    margin-top: 55px;
    margin-bottom: 73px;
}
.message-content {
    display: flex;
    justify-content: space-between;
}
.message-form {
    padding-left: 164px;
}
.message-user-email {
    display: flex;
    justify-content: space-between;
}
.message-name-emai-text {
    width: 276px;
    height: 64px;
    border-radius: 5px;
    margin-bottom: 44px;
    padding-left: 54px;
    font-size: 18px;

}
.message-description {
    display: block;
    width: 670px;
    height: 252px;
    margin-bottom: 43px;
    border-radius: 5px;
    padding-left: 54px;
 
}
.message-btn {
    width: 734px;
    height: 74px;
    border:none;
    background-color: #FF3B3B;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.32px;
    font-weight: bold;
    border-radius: 5px;
}
.message-contact {
    margin: 0;
    width: 580px;
    background-color: #000;
    color: #fff;
}
.message-contact>h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 13px;
    padding-left: 80px;
    padding-top: 126px;
}
.message-contact>p {
    font-size: 16px;
    padding-bottom: 27px;
    padding-left: 80px;
}
.input {
    background-color: #F6F2F2;
}
.feedback__message {
    resize: none;
    font-size: 16px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    width: 100%;
    max-width: 731px;
    height: 252px;
    box-sizing: border-box;
    padding: 35px 54px;
    margin-bottom: 45px;
    border: none;
    border-radius: 5px;
    background-color: #f3f3f3;
}
.footer {
	background-color: #2c2c2c;
	padding: 0 1vw;
}
.footer__content {
	box-sizing: border-box;
	padding: 19px 0 0;
	color: #e0e0e0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 110px;
	background-color: #2c2c2c;
}
.footer__link {
	display: inline-block;
}
.footer__social-links > .footer__link:not(:last-child) {
	margin-right: 18px;
}

@media screen and (max-width: 1199px) {
    .intro {
        padding: 50px 0 55px 0;
    }
    .container-intro {
        justify-content: center;
    }

    .service {
        flex: 0 1 100%;
        max-width: 100%;
        margin-bottom: 53px;
        padding: 0 8px;
    }
    .message-form {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center ;
    }
    .message-user-email {
        display: flex;
        /* justify-content: space-between; */
        flex-direction: column;
        align-items: center ;
    }
    .message-description {
    
        width: 470px;
    }
}
@media screen and (max-width: 991px) {
    .item {
        padding: 21px 20px 12px;
    }
    .container-provide {
        flex-direction: column;
        align-items: center;
    }
    .provide-header {
        flex: 1 1 90%;
        max-width: 90%px;
        margin-right: 0;
    }
    .services {
        max-width: 100%;
    }
    .service {
        flex: 0 1 46%;
        max-width: 46%;
        margin-bottom: 10px;
        padding: 0 15px;
    }
    .team-title {
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .team-container-members {
        flex-direction: column;
        align-items: center;
    }
    /* .message-content {
        flex-direction: column;
        align-items: center;
    }
    .message-intro{
        padding-left: 0;
    }
    .message-form {
        padding-left: 0;
    } */
    /* .subscribe-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .subscribe-input {
        margin-bottom: 20px;    
    } */
    .message-content {
        flex-direction: column;
        align-items: center;
    }
    .message-form {
        padding-left: 0;
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 767px) {
    .item {
        padding: 0 5px;
    }
    .menu-items {
        flex-direction: column;
        text-align: center;
        flex-wrap: nowrap;
    }
    .container-feature {
        margin-top: 30px;
    }
    .feature-links {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .blue-boxes {
        flex-direction: column;
    }
    .links {
        flex-direction: column;
    }

    
}

